<!-- all handlerbars -->
<main>

    <div class="container test">

        <br>

        {{#each allProject}}
        <div class="card post-details-card mb-3">
            <div class="card-body">

                <div class="row">
                    <div class="col-sm">

                        <a href="/projects/{{this._id}}">
                        <h2>{{this.name}}</h2>
                        </a>
                        <p>Location: {{this.location}}</p>
                        <p>Size: {{this.size}}</p>
                        <p>Status: {{this.status}}</p>
                        {{!-- <p class="postBodyText">{{this.postBody}} </p> --}}
                        <p>Budget: {{this.budget}}</p>
                        <p>Date created: {{this.date}}</p>
                        
                    </div>
                    <div class="card postcomments px-2">
                    <input type="hidden" name="project_id" id="project_id" value="{{this._id}}" />

                 
                    <div class="form-group mt-2">
                        <form id="comments-form" method="POST" action="/comments/{{this._id}}">


                            <label class="commentText" for="commentText">Enter a
                                comment</label>
                            <div class="input-group mb-3">
                                <br>
                                <input type="text" class="form-control" id="commentText" name="commentText"
                                    placeholder="Enter comment here" />
                                <div class="input-group-append">
                                    <span class="input-group-button" id="basic-addon2"><button type="submit"
                                            class="btn btn-primary">Create</button></span>
                                </div>
                            </div>


                        </form>
                    </div>
                       <div id="empty-comment" class="alert alert-info div-text" hidden></div>
                    
                </div>

                <div class="card postcomments mt-2 px-2">


                    <div class="comment-area px-2 mt-2 mb-2" id="comment-area">
                        {{#each this.comments}}
                        <div class="chat">
                            <div class="yours messages">
                                <div class="message last">
                                    {{this.commentText}}
                                    <hr>
                                </div>
                                <div class="bold"> - {{this.userId}}</div>
                                <hr>
                            </div>
                        </div>


                     {{/each}}
                        

                    </div>
                    {{#if hasErrors}}
                    <ul id="error-list" class="error-list">
                        {{#each errors}}
                        <li>
                            {{this}}
                        </li>
                        {{/each}}
                    </ul>
                    {{/if}}
                    <div class="col-sm">
                        <p class="text-end">{{this.owner}}</p>

                    </div>
                </div>
            </div>

        </div>
        {{/each}}

    </div>
</main>